*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-conteiner{
   
    border-radius: 24px;
    height: 80px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;

}
.item{
    cursor: pointer;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.26);
    border-radius: 24px;
    height: 90px;
    width: 450px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    gap: 12px;
    font-size: 14px;
}
.item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.item .part1{
    display: flex;
    gap: 12px;
}
h2{
    background-color: #f070a0;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.destinatario{
    position: relative;
    left: -250px;
   right: -250px;
    top: 40px;
    background-color: #f070a0;
    padding: 2px 40px;
    border-radius: 10px;
    color: white
}

.status{    
    position: relative;
    left: 260px;
    top: -50px;
}

.social  img{
    position: relative;
    left: 210px;
    top: -60px;
    width: 50px;
    height: 50px;
}